# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Laravel
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.nuxt

#Nuxt
/dist
/public/_nuxt

#Cms
/_cms2/node_modules
/_cms2/.DS_Store
/_cms2/node_modules/
/_cms2//dist/
/_cms2/npm-debug.log*
/_cms2/yarn-debug.log*
/_cms2/yarn-error.log*
